body {
    background-color: #c9c9d4;
    font-size: 1.6em;
}
  

.calculator-container {
    float: left;
    width: 250px;
    border: solid black 1px;
}

.calculator-row {
    display: table;
    width: 100%;
}


.btn {
    width: 25%;
    height: 60px;
    padding: 2px;
    text-align: center;
    font-size: 1em;
    border-style: solid;
    border-color: grey;
    border-width: 0px 1px 1px 0px;
}

.twocolumn {
    width: 50%;
    padding-right: 25%;
}
  

.result-screen {
    width: 95%;
    text-align: right;
    background-color: black;
    color: white;
    font-size: 2em;
    border: none;
    padding: 10% 5% 2% 0%;
}
  

input[type=button]:hover {
    background-color: #D3D3D3;
    color: grey;
}

.btn-operator {
    background-color: #FA8C11;
}

